body{       
    background-color: beige;
    margin: 0 auto;      
}
h1{    
    color: black;
    font-size: 50px;    
    margin-bottom: 0.1em;
    margin-top: 0.1em;
    padding: .3em;
    text-align: center;
    text-shadow: 3px 3px 3px grey;    
}

h2{
    margin-bottom: 0.2em;
}

nav{
    box-shadow: 0px 0px 5px grey;
    margin: 0;
    background-color: black;
    padding-left: 2em; 
    padding-bottom: .2em;
}

nav form{
    display: inline-block;
}


a{
    color: black;
    font-size: 20px;
    padding-right: 1em;        
    text-decoration-color: white;
}

a:hover{
    text-decoration-color: black;
}

#buscar{
    padding-left: 12%;
    width: 63%;
}

#buscar, #nuevo{
    display: inline-block;
}

#contenido{    
    margin-top: .2em;
    padding: 1em;
    min-height: 500px;
}

#formMenu{
    padding-top: 10px;
    padding-right: 30px;
    position: absolute;
    right: 0;    
}

#nuevo{
    padding-right: 10%;
}

#quitarFiltro{
    font-size: 8px;
}

.buttonSubMenu{
    background-color: gray;
    border-radius: 5px;
    color: white;
    padding: 5px;
}

.cabecera,.cabecera-check{
    background-color: #3333ff;
    color: white;
    display: inline-block;
    font-size: 1.2em;
    height: 1.3em;
    padding-left: 5px;
    text-align: center;
}

.campo{
    width: 100%;
}

.fila-impar-check a:hover,
.fila-par-check a:hover{
    color: black;
}

.fila{
    height: 1.7em;
}

.fila-impar{
    background-color: white;    
}

.fila-impar-check{
    background-color: white;    
}

.fila-impar, .fila-par{
    display: inline-block;
    height: 1.5em;
    padding-left: 5px;
    width: 27%;
}

.fila-impar-check, .fila-par-check{
    display: inline-block;
    height: 1.5em;
    padding-left: 5px;
    text-align: center;
    width: 17.3%;
}

.fila-impar-check a, .fila-par-check a, .link{
    display: inline-block;
    font-size: .85em;
    padding-left: 1em;    
}

.fila-par{
    background-color: #cccc92;   
}

.fila-par-check{
    background-color: #cccc92;   
}

.logo{
    color:red;
    font-size: 30px;    
    font-weight: bold;
    text-decoration: none;
    margin-right: 50px;
}

.menu{
    font-size: 20px;
}

.boton{
    font-size: 18px;
}

.menu, .boton{  
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 1px 1px 0px grey;
    color: #333333;    
    font-weight: bold;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    text-decoration: none;

}

.menu:hover, .boton:hover{
    font-style: italic;
}

@media screen and (max-width: 1000px){
    #buscar{
        width: 50%;
    }
}