
#addResponsable{
    border: 1px solid black;
    box-shadow: 5px 5px 5px grey;    
    max-width: 800px;
}

#addResponsable div{    
    display: inline-block;
    text-align: left; 
    width: 300px;      
}

#buscar-responsable{
    width: 88%;
}

#buscar-responsable,#nuevoResp{
    display: inline-block;
}

#lista-responsables{
    width: 80%;
}

.cabecera{    
    width: 27%;
}

.cabecera-check{
    width: 15%;
}

.fila-impar-check a:hover,
.fila-par-check a:hover{
    color: black;
    text-decoration: underline;
}

.fila{
    height: 1.7em;
}

.fila-impar{
    background-color: white;    
}

.fila-impar-check{
    background-color: white;    
}

.fila-impar, .fila-par{
    display: inline-block;
    height: 1.5em;
    width: 27%;
}

.fila-impar-check, .fila-par-check{
    display: inline-block;
    height: 1.5em;
    width: 15%;
}

.fila-impar-check a, .fila-par-check a{
    display: inline-block;
    font-size: .85em;
    padding-left: 1em;
}

.fila-par{
    background-color: #cccc92;   
}

.fila-par-check{
    background-color: #cccc92;   
}

@media screen and (max-width: 1000px){
    #lista-responsables{
        width: 100%;
    }
}